@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background: linear-gradient(to top, #1f60b0, white, #ffcb08);
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 15%;
  padding: 15px;
  position: relative;
}

.title {
  position: absolute;
  top: 2%;
  width: 22%;
  right: 38%;
}

.pokedex {
  width: 100%;
  max-width: 800px;
}

.btn-onoff {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 4.9%;
  left: 7.4%;
  border: none;
  width: 8.2%;
  height: 9.7%;
  border-radius: 50%;
  background-image: url('../img/btnOnOff.png');
  background-position: center;
  background-size: cover;
}

.btn-onoff:active {
  width: 7.95%;
  height: 9.45%;
  top: 5%;
  left: 7.3%;
}

.background {
  transition: opacity 2s;
  opacity: 0;
  z-index: -1;
  width: 40%;
  position: absolute;
  bottom: 48.5%;
  right: 54%;
}

.backgroundOff {
  z-index: -2;
  width: 32%;
  height: 27%;
  position: absolute;
  top: 25%;
  right: 58%;
}

.pokemon__data {
  z-index: -1;
  height: 7%;
  padding: 5px 0px;
  position: absolute;
  font-weight: 600;
  color: #b9b9b9;
  top: 53.6%;
  left: 16%;
  font-size: clamp(8px, 3vw, 25px);
  /* background-color: rgb(17, 83, 13); */
  background-color: rgb(35, 35, 35);
  width: 25%;
}

.pokemon__image {
  transition: opacity 2s;
  opacity: 0;
  position: absolute;
  bottom: 52%;
  left: 22%;
  height: 13%;
}

.pokemon__name {
  opacity: 0;
  transition: opacity 2s;
  color: rgb(141, 141, 141);
  text-transform: capitalize;
}

.pokemon__number {
  opacity: 0;
  transition: opacity 2s;
}

.form {
  position: absolute;
  width: 36%;
  /* height: 5%; */
  top: 70%;
  left: 8.1%;
}

.input__search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 0.9rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.input__search:disabled {
  background-color: white;
}

.buttons {
  position: absolute;
  bottom: 12%;
  left: 8%;
  width: 35.9%;
  display: flex;
  gap: 21px;
}

.button {
  cursor: pointer;
  width: 50%;
  padding: 3.5%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 0.9rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.8rem;
}

.counter {
  z-index: -1;
  width: 7%;
  height: 5%;
  padding-top: 6px;
  padding-left: 3px;
  position: absolute;
  background-color: rgb(35, 35, 35);
  top: 22%;
  right: 34%;
  text-align: left;
}

.info-counter {
  transition: opacity 2s;
  opacity: 0;
  color: #b9b9b9;

  padding-left: 13px;
  font-weight: 700;
}

.screen {
  /* font-size: 10px; */
  /* color: #282b2e; */
  color: #b9b9b9;
  z-index: -1;
  width: 33%;
  height: 23%;
  padding: 15px;
  position: absolute;
  background-color: rgb(35, 35, 35);
  /* background-color: rgb(17, 83, 13); */
  top: 29%;
  right: 8%;
  text-align: left;
}

.screen span {
  transition: opacity 2s;
  opacity: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.label {
  transition: opacity 2s;
  opacity: 0;
  color: rgba(141, 141, 141);
  font-weight: 500;
}

.type-buttons {
  position: absolute;
  right: 6.95%;
  bottom: 23.5%;
  height: 18%;
  width: 35.2%;
  background-color: #444;
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  grid-template-rows: repeat(3, 33.3%);
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: -2px 1px 0 #222, -3px 3px 0 #000;
}

.btn-type {
  cursor: pointer;
  color: white;
  font-size: 9px;
  border: none;
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
  background-color: inherit;
  font-weight: 700;
}

.btn-type:active {
  box-shadow: inset -1px 1px 0 #222;
  font-size: 8.5px;
}

.btn-type:nth-child(6n + 1) {
  border-left: none;
}

.btn-type:nth-child(-n + 6) {
  border-top: none;
}

.btn-type:nth-last-child(-n + 6) {
  border-bottom: none;
}

.btn-all {
  cursor: pointer;
  color: #757575;
  background-color: #e3e4e4;
  padding: 0.9%;
  position: absolute;
  bottom: 10%;
  right: 30%;
  width: 12%;
  font-size: 15px;
  font-weight: 700;
  border: 2px solid #484848;
  border-radius: 5px;
  box-shadow: -2px 1px 0 #656565, -3px 3px 0 #2f2f2f;
}

.btn-all:active {
  box-shadow: inset -1px 2px 0 #6e6e6e;
  font-size: 14px;
}
